@import './player';
@import './song';
@import './library';
@import './nav';

@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
  font-family: 'Noto Kufi Arabic', sans-serif;
}

h1 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}
